on: [pull_request]
jobs:
    auto-merge:
        permissions:
            contents: write
            pull-requests: write
        runs-on: ubuntu-latest
        steps:
            - uses: fastify/github-action-merge-dependabot@v3.7
              with:
                  github-token: ${{ secrets.GITHUB_TOKEN }}
                  target: minor
